<template>
  <mq-layout mq="sm">
    <div class="container">
      <profile></profile>
      <div class="promotion__content">
        <div class="mb-4">
          <promotion-box
            image="https://dummyimage.com/500x500/000/fff"
            link="www.google.com"
          ></promotion-box>
        </div>
        <div class="mb-4">
          <promotion-box
            class="mb-2"
            image="https://dummyimage.com/500x235/000/fff"
            link="www.google.com"
          ></promotion-box>
        </div>
        <div class="mb-4">
          <promotion-box
            class="mb-2"
            image="https://dummyimage.com/500x235/000/fff"
            link="www.google.com"
          ></promotion-box>
        </div>
        <div class="mb-4">
          <promotion-box
            image="https://dummyimage.com/500x500/000/fff"
            link="www.google.com"
          ></promotion-box>
        </div>
      </div>
    </div>
  </mq-layout>
</template>

<script>
import PromotionBox from '@/components/pages/promotion/PromotionBox'
import Profile from '@/components/Profile'

export default {
  components: { Profile, PromotionBox },
}
</script>

<style scoped>
.container {
  padding: 20px;
}
</style>
