<template>
  <mq-layout mq="md+">
    <div class="login__container">
      <div class="login__wrapper">
        <div class="login__form">
          <logo></logo>
          <h2 class="login__title my-4">เข้าสู่ระบบ!</h2>
          <b-form @submit="onSubmit" @reset="onReset">
            <username-input v-model="form.username"></username-input>
            <password-input v-model="form.password"></password-input>
            <div class="text-right">
              <text-link-button
                title="สมัครสมาชิก"
                to="/register"
              ></text-link-button>
            </div>
            <div class="text-center mt-4">
              <exclusive-button
                title="เข้าสู่ระบบ"
                :red="true"
              ></exclusive-button>
            </div>
          </b-form>
        </div>
      </div>
      <div class="login__promote"></div>
    </div>
  </mq-layout>
</template>

<script>
import Logo from '@/components/Logo'
import UsernameInput from '@/components/forms/v3/UsernameInput'
import PasswordInput from '@/components/forms/v3/PasswordInput'
import ExclusiveButton from '@/components/buttons/ExclusiveButton'
import TextLinkButton from '@/components/buttons/TextLinkButton'

export default {
  layout: 'auth',
  components: {
    TextLinkButton,
    ExclusiveButton,
    PasswordInput,
    UsernameInput,
    Logo,
  },
  data() {
    return {
      form: {
        username: null,
        password: null,
      },
    }
  },
  methods: {
    onSubmit(e) {
      e.preventDefault()
      alert(JSON.stringify(this.form))
    },
    onReset(e) {
      e.preventDefault()
    },
  },
}
</script>

<style scoped>
.login__container {
  position: relative;
}

.login__wrapper {
  max-width: 900px;
  margin: 0 auto;
  z-index: 2;
}

.login__form {
  max-width: 350px;
  height: 100vh;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login__title {
  font-size: 30px;
  color: white;
}

.login__promote {
  position: absolute;
  top: 0;
  right: 0;
  width: 768px;
  height: 100vh;
  background-image: url(/images/phone.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

@media screen and (max-width: 1200px) {
  .login__form {
    margin: 0 auto;
  }

  .login__promote {
    display: none;
  }
}
</style>
