<template>
  <mq-layout mq="md+">
    <wrapper>
      <div class="container">
        <b-row>
          <b-col cols="9">
            <profile></profile>
          </b-col>
          <b-col>
            <QRCode></QRCode>
          </b-col>
        </b-row>
        <b-form @submit="onSubmit" @reset="onReset">
          <b-row align-v="center" class="content my-5">
            <b-col cols="2"></b-col>
            <b-col>
              <h2 class="text-center mb-4">COUPON</h2>
              <coupon-input v-model="form.coupon"></coupon-input>
            </b-col>
          </b-row>
          <div class="text-center">
            <default-button title="รับคูปอง"></default-button>
          </div>
        </b-form>
      </div>
    </wrapper>
  </mq-layout>
</template>

<script>
import Wrapper from '@/components/Wrapper'
import Profile from '@/components/Profile'
import QRCode from '@/components/QRCode'
import DefaultButton from '@/components/buttons/DefaultButton'
import CouponInput from '@/components/forms/v2/CouponInput'

export default {
  components: { CouponInput, Wrapper, Profile, QRCode, DefaultButton },
  data() {
    return {
      form: {
        coupon: null,
      },
    }
  },
  methods: {
    onSubmit(e) {
      e.preventDefault()
      alert(JSON.stringify(this.form))
    },
    onReset(e) {
      e.preventDefault()
    },
  },
}
</script>

<style scoped>
.container {
  max-width: 700px;
  margin: 0 auto;
}

.content {
  padding: 40px;
  border-radius: 10px;
  background-image: url(/images/coupon_bg.png);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 250px;
}
</style>
