<template>
  <mq-layout mq="md+">
    <wrapper>
      <div class="container">
        <b-row>
          <b-col cols="9">
            <profile></profile>
          </b-col>
          <b-col>
            <QRCode></QRCode>
          </b-col>
        </b-row>
        <div class="content my-5">
          <b-row>
            <b-col>
              <credit
                :credit="100"
                :on-refresh="onCreditRefresh"
                date="12.00"
              ></credit>
            </b-col>
            <b-col>
              <bank-name-input v-model="form.bank"></bank-name-input>
              <full-name-input v-model="form.fullName"></full-name-input>
              <bank-number-input v-model="form.bankNumber"></bank-number-input>
            </b-col>
          </b-row>
          <div class="withdraw__form mt-5">
            <b-form @submit="onSubmit" @reset="onReset">
              <withdraw-input v-model="form.withdraw"></withdraw-input>
              <div class="text-center">
                <default-button title="แจ้งถอนเงิน" fluid></default-button>
              </div>
            </b-form>
          </div>
        </div>
      </div>
    </wrapper>
  </mq-layout>
</template>

<script>
import Wrapper from '@/components/Wrapper'
import Profile from '@/components/Profile'
import QRCode from '@/components/QRCode'
import Credit from '@/components/Credit'
import DefaultButton from '@/components/buttons/DefaultButton'
import BankNameInput from '@/components/forms/v2/BankNameInput'
import FullNameInput from '@/components/forms/v2/FullNameInput'
import BankNumberInput from '@/components/forms/v2/BankNumberInput'
import WithdrawInput from '@/components/forms/v2/WithdrawInput'

export default {
  components: {
    WithdrawInput,
    BankNumberInput,
    FullNameInput,
    BankNameInput,
    Wrapper,
    Profile,
    QRCode,
    Credit,
    DefaultButton,
  },
  data() {
    return {
      form: {
        withdraw: null,
      },
    }
  },
  methods: {
    onSubmit(e) {
      // CODE HERE
    },
    onReset(e) {
      // CODE HERE
    },
    onCreditRefresh() {
      // CODE HERE
    },
  },
}
</script>

<style scoped>
.container {
  max-width: 700px;
  margin: 0 auto;
}

.content {
  padding: 40px;
  border-radius: 10px;
}
</style>
