<template>
  <mq-layout mq="md+">
    <game-content title="Sport">
      <b-row>
        <b-col cols="6"><game-box-desktop></game-box-desktop></b-col>
        <b-col cols="6"><game-box-desktop></game-box-desktop></b-col>
      </b-row>
    </game-content>
  </mq-layout>
</template>

<script>
import GameBoxDesktop from '@/components/pages/games/GameBoxDesktop'
import GameContent from '@/components/pages/games/Content'

export default {
  components: { GameBoxDesktop, GameContent },
}
</script>

<style scoped></style>
