<template>
  <mq-layout mq="sm">
    <div class="container">
      <profile></profile>
      <deposit-bank></deposit-bank>
      <div class="content my-4">
        <div class="text-center mb-4">
          <img
            src="/images/account_icon.png"
            alt="account"
            class="deposit__icon"
          />
        </div>
        <b-form @submit="onSubmit">
          <bank-name-input
            v-model="form.bankName"
            :label-white="true"
          ></bank-name-input>
          <bank-number-input
            v-model="form.bankNumber"
            :label-white="true"
          ></bank-number-input>
        </b-form>
      </div>
      <div class="text-center mb-4">
        <default-button
          title="คัดลอกเลขที่บัญชี"
          @click.native="onCopy"
        ></default-button>
      </div>
      <div class="deposit__line"></div>
      <div class="deposit__footer py-4">
        <b-row align-h="space-between">
          <b-col><p>โปรดโอนจากธนาคาร:</p></b-col>
          <b-col class="text-right"><span>กสิกรไทย</span></b-col>
        </b-row>
        <b-row align-h="space-between">
          <b-col><p>ชื่อบัญชี:</p></b-col>
          <b-col class="text-right"><span>ภัคภิญญา อุประหนอง</span></b-col>
        </b-row>
        <b-row align-h="space-between">
          <b-col><p>เลขที่บัญชี:</p></b-col>
          <b-col class="text-right"><span>061-8-53883-4</span></b-col>
        </b-row>
      </div>
      <div class="deposit__line"></div>
    </div>
  </mq-layout>
</template>

<script>
import BankNumberInput from '@/components/forms/v2/BankNumberInput'
import BankNameInput from '@/components/forms/v2/BankNameInput'
import DepositBank from '@/components/pages/deposit/DepositBank'
import DefaultButton from '@/components/buttons/DefaultButton'
import Profile from '@/components/Profile'

export default {
  components: {
    Profile,
    DefaultButton,
    DepositBank,
    BankNameInput,
    BankNumberInput,
  },
  data() {
    return {
      form: {
        bankName: null,
        bankNumber: null,
      },
    }
  },
  methods: {
    onSubmit(e) {
      // CODE HERE
    },
    onCopy() {
      // CODE HERE
    },
  },
}
</script>

<style scoped>
.container {
  padding: 20px;
}

.deposit__line {
  border-top: 1px solid var(--primary-color);
}

.deposit__footer {
  color: white;
}

.deposit__footer p {
  margin: 0;
  color: var(--quaternary-color);
}
</style>
