<template>
  <mq-layout mq="md+">
    <b-container>
      <div class="promotion mt-4 p-5">
        <div class="promotion-title mb-4">
          <h2>โปรโมชั่น</h2>
          <span class="promotion-new ml-2">NEW</span>
        </div>
        <div class="promotion__content">
          <b-row>
            <b-col>
              <promotion-box
                image="https://dummyimage.com/500x500/000/fff"
                link="www.google.com"
              ></promotion-box>
            </b-col>
            <b-col>
              <b-row>
                <promotion-box
                  image="https://dummyimage.com/500x235/000/fff"
                  link="www.google.com"
                ></promotion-box>
              </b-row>
              <b-row class="mt-3">
                <promotion-box
                  image="https://dummyimage.com/500x235/000/fff"
                  link="www.google.com"
                ></promotion-box>
              </b-row>
            </b-col>
          </b-row>
        </div>
      </div>
    </b-container>
  </mq-layout>
</template>

<script>
import PromotionBox from '@/components/pages/promotion/PromotionBox'

export default {
  components: { PromotionBox },
}
</script>

<style scoped>
.promotion {
  border-radius: 10px;
  background-color: #4c525a;
}

.promotion-title {
  font-size: 25px;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.promotion-title h2 {
  display: inline-block;
}

.promotion-new {
  font-size: 17px;
  background-color: var(--primary-color);
  padding: 0 10px;
  border-radius: 5px;
}
</style>
