<template>
  <button type="button" :class="['button', { 'button--fluid': fluid }]">
    {{ title }}
  </button>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      required: true,
    },
    fluid: {
      type: Boolean,
      required: false,
      default: false,
    },
  },
}
</script>

<style scoped>
.button {
  background-color: var(--primary-color);
  border-radius: 20px;
  color: #ffffff;
  padding: 10px 20px;
  outline: 0;
  border: 0;
  line-height: 1.2;
  user-select: none;
}

.button:hover {
  background-color: #7d030a;
}
</style>
