<template>
  <nuxt-link class="button" :to="to">
    {{ title }}
  </nuxt-link>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      required: true,
    },
    to: {
      type: String,
      required: false,
      default: '#',
    },
  },
}
</script>

<style scoped>
.button {
  background-color: var(--primary-color);
  border-radius: 20px;
  color: #ffffff;
  padding: 10px 30px;
  outline: 0;
  border: 0;
  line-height: 1.2;
  user-select: none;
}

.button:hover {
  background-color: #7d030a;
}
</style>
