<template>
  <div :class="['button-outline', { red: red }]">
    <button type="button" class="button">
      {{ title }}
    </button>
  </div>
</template>

<script>
export default {
  props: {
    red: {
      type: Boolean,
      required: false,
      default: false,
    },
    title: {
      type: String,
      required: true,
    },
    fluid: {
      type: Boolean,
      required: false,
      default: false,
    },
  },
}
</script>

<style scoped>
.button-outline {
  border: 1px solid #222222;
  border-radius: 30px;
  padding: 5px;
  display: inline-block;
}

.button-outline.red {
  border-color: var(--primary-color);
}

.button {
  background-color: #222222;
  border-radius: 20px;
  color: #ffffff;
  padding: 10px 20px;
  outline: 0;
  border: 0;
  line-height: 1.2;
  user-select: none;
}

.button-outline.red .button {
  background-color: var(--primary-color);
}

.button:hover {
  background-color: #060c13;
}

.button-outline.red .button:hover {
  background-color: #7d030a;
}
</style>
