<template>
  <div class="button-outline">
    <button type="button" class="button">
      {{ title }}
      <b-icon icon="chevron-right"></b-icon>
    </button>
  </div>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      required: true,
    },
  },
}
</script>

<style scoped>
.button-outline {
  border: 1px solid var(--primary-color);
  border-radius: 30px;
  padding: 3px;
  display: inline-block;
}

.button {
  border-radius: 20px;
  background-color: var(--primary-color);
  border: none;
  color: #ffffff;
  padding: 5px 10px;
  outline: 0;
  line-height: 1.2;
  user-select: none;
}

.button:hover {
  background-color: #7d030a;
}
</style>
