<template>
  <button type="button" class="button">{{ title }}</button>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      required: true,
    },
  },
}
</script>

<style scoped>
.button {
  background: transparent;
  border: 2px solid var(--primary-color);
  outline: none;
  border-radius: 20px;
  color: #ffffff;
  padding: 5px 20px;
  outline: 0;
  line-height: 1.2;
  user-select: none;
}

.button:hover {
  color: var(--primary-color);
}
</style>
