<template>
  <nuxt-link class="button" :to="to">
    {{ title }}
  </nuxt-link>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      required: true,
    },
    to: {
      type: String,
      required: true,
    },
  },
}
</script>

<style scoped>
.button {
  color: #ebc642;
  outline: 0;
  line-height: 1.2;
  user-select: none;
  cursor: pointer;
}
</style>
