<template>
  <mq-layout mq="md+">
    <wrapper>
      <div class="contact__info text-center">
        <img src="/images/contact.png" alt="contact" />
      </div>
      <div class="text-center my-4">
        <default-link-button
          title="LINE@MAJOR1688"
          to="#"
        ></default-link-button>
      </div>
    </wrapper>
  </mq-layout>
</template>

<script>
import Wrapper from '@/components/Wrapper'
import DefaultLinkButton from '@/components/buttons/DefaultLinkButton'

export default {
  components: {
    Wrapper,
    DefaultLinkButton,
  },
}
</script>

<style scoped>
.contact__info {
  padding: 20px;
  border-radius: 20px;
  background-color: white;
}

.contact__info img {
  width: 300px;
}
</style>
