<template>
  <mq-layout mq="sm">
    <div class="register">
      <div class="register__wrapper">
        <div class="register__container">
          <logo></logo>
          <div class="register__title my-4">ลงทะเบียนขั้นตอนที่ {{ step }}</div>
          <b-form @submit="onSubmit" @reset="onReset">
            <div v-if="step === 1">
              <phone-input v-model="form.phone"></phone-input>
              <div class="text-right">
                <exclusive-next-button
                  title="ถัดไป"
                  @click.native="onNext"
                ></exclusive-next-button>
              </div>
            </div>
            <div v-if="step === 2">
              <bank-select-input v-model="form.bank"></bank-select-input>
              <bank-number-input v-model="form.bankNumber"></bank-number-input>
              <first-name-input v-model="form.firstName"></first-name-input>
              <last-name-input v-model="form.lastName"></last-name-input>
              <first-name-eng-input
                v-model="form.firstNameEng"
              ></first-name-eng-input>
              <last-name-eng-input
                v-model="form.lastNameEng"
              ></last-name-eng-input>
              <b-row align-v="center" align-h="between">
                <b-col>
                  <exclusive-back-button
                    title="ก่อนหน้า"
                    @click.native="onPrevious"
                  >
                  </exclusive-back-button>
                </b-col>
                <b-col class="text-right">
                  <exclusive-next-button
                    title="ถัดไป"
                    @click.native="onNext"
                  ></exclusive-next-button>
                </b-col>
              </b-row>
            </div>
            <div v-if="step === 3">
              <password-input v-model="form.password"></password-input>
              <confirm-password-input
                v-model="form.confirmPassword"
              ></confirm-password-input>
              <channel-select-input
                v-model="form.channel"
              ></channel-select-input>
              <line-input v-model="form.lineID"></line-input>
              <email-input v-model="form.email"></email-input>
              <b-row align-v="center" align-h="between">
                <b-col>
                  <exclusive-back-button
                    title="ก่อนหน้า"
                    @click.native="onPrevious"
                  >
                  </exclusive-back-button>
                </b-col>
                <b-col class="text-right">
                  <exclusive-next-button
                    title="สมัครสมาชิก"
                    @click.native="onSubmit"
                  ></exclusive-next-button>
                </b-col>
              </b-row>
            </div>
          </b-form>
          <div class="register__account mt-5 mb-2">
            <span>มีบัญชีแล้ว?</span>
            <text-link-button title="เข้าสู่ระบบ" to="/"></text-link-button>
          </div>
        </div>
      </div>
    </div>
  </mq-layout>
</template>

<script>
import Logo from '@/components/Logo'
import PhoneInput from '@/components/forms/v1/PhoneInput'
import BankSelectInput from '@/components/forms/v1/BankSelectInput'
import BankNumberInput from '@/components/forms/v1/BankNumberInput'
import PasswordInput from '@/components/forms/v1/PasswordInput'
import ConfirmPasswordInput from '@/components/forms/v1/ConfirmPasswordInput'
import EmailInput from '@/components/forms/v1/EmailInput'
import LineInput from '@/components/forms/v1/LineInput'
import TextLinkButton from '@/components/buttons/TextLinkButton'
import FirstNameInput from '@/components/forms/v1/FirstNameInput'
import LastNameInput from '@/components/forms/v1/LastNameInput'
import FirstNameEngInput from '@/components/forms/v1/FirstNameEngInput'
import LastNameEngInput from '@/components/forms/v1/LastNameEngInput'
import ChannelSelectInput from '@/components/forms/v1/ChannelSelectInput'
import ExclusiveBackButton from '@/components/buttons/ExclusiveBackButton'
import ExclusiveNextButton from '@/components/buttons/ExclusiveNextButton'

export default {
  layout: 'auth',
  components: {
    ExclusiveNextButton,
    ExclusiveBackButton,
    ChannelSelectInput,
    LastNameEngInput,
    FirstNameEngInput,
    LastNameInput,
    TextLinkButton,
    LineInput,
    EmailInput,
    ConfirmPasswordInput,
    PasswordInput,
    FirstNameInput,
    BankNumberInput,
    BankSelectInput,
    PhoneInput,
    Logo,
  },
  data() {
    return {
      step: 1,
      form: {
        password: null,
        confirmPassword: null,
        firstName: null,
        lastName: null,
        firstNameEng: null,
        lastNameEng: null,
        channel: null,
        email: null,
        phone: null,
        lineID: null,
        bank: null,
        bankNumber: null,
      },
    }
  },
  methods: {
    onNext() {
      this.step = this.step + 1
    },
    onPrevious() {
      this.step = this.step - 1
    },
    onSubmit(e) {
      // CODE HERE
    },
    onReset(e) {
      // CODE HERE
    },
  },
}
</script>

<style scoped>
.register {
  padding: 20px;
  min-height: 100vh;
}

.register__wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.register__container {
  padding: 20px;
}

.register__title {
  font-size: 25px;
  color: white;
  text-align: center;
  font-weight: 500;
}

.register__account {
  color: white;
  text-align: center;
}

.register__account a {
  color: #e3b91b;
}
</style>
