<template>
  <b-form-group>
    <label>ธนาคาร</label>
    <b-form-select
      class="form-input__input"
      :options="options"
      :value="value"
      @input.native="$emit('input', $event.target.value)"
    ></b-form-select>
  </b-form-group>
</template>

<script>
export default {
  props: {
    value: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      options: [
        {
          value: 'ธนาคารที่ผูกบัญชีกับเงินในระบบ',
          text: 'ธนาคารที่ผูกบัญชีกับเงินในระบบ',
        },
        { value: 'kasikorn', text: 'Kasikorn' },
        { value: 'scb', text: 'SCB' },
      ],
    }
  },
}
</script>

<style scoped>
label {
  color: #cfd2d4;
  margin-left: 10px;
}

.form-input__input {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  border-radius: 40px;
  border: 2px solid transparent;
  box-shadow: inset 0 0 0.2rem rgba(0, 0, 0, 0.2);
  color: #222222;
  height: 100%;
  background-color: #fbfbfb;
}

.form-input__input:focus {
  box-shadow: none;
  outline: 0;
}
</style>
