<template>
  <b-form-group>
    <label>รหัสผ่าน</label>
    <div class="form-input">
      <img
        src="/images/grey_lock_icon.png"
        alt="bank"
        class="form-input__icon"
      />
      <b-form-input
        class="form-input__input"
        type="password"
        required
        placeholder="รหัสผ่าน"
        :value="value"
        @input.native="$emit('input', $event.target.value)"
      ></b-form-input>
    </div>
  </b-form-group>
</template>

<script>
export default {
  props: {
    value: {
      type: String,
      default: '',
    },
  },
}
</script>

<style scoped>
label {
  color: #cfd2d4;
  margin-left: 10px;
}

.form-input {
  position: relative;
}

.form-input__icon {
  position: absolute;
  top: 50%;
  left: 20px;
  width: 20px;
  transform: translateY(-50%);
}

.form-input__input {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  border-radius: 40px;
  border: 2px solid transparent;
  box-shadow: inset 0 0 0.2rem rgba(0, 0, 0, 0.2);
  color: #222222;
  height: 100%;
  background-color: #fbfbfb;
}

.form-input__input:focus {
  border-color: var(--primary-color);
  box-shadow: none;
  outline: 0;
}
</style>
