<template>
  <mq-layout mq="sm">
    <div class="container">
      <profile></profile>
      <div class="content mb-5">
        <div class="mb-5">
          <credit
            :credit="100"
            :on-refresh="onCreditRefresh"
            date="12.00"
          ></credit>
        </div>
        <bank-name-input
          v-model="form.bank"
          :label-white="true"
        ></bank-name-input>
        <full-name-input
          v-model="form.fullName"
          :label-white="true"
        ></full-name-input>
        <bank-number-input
          v-model="form.bankNumber"
          :label-white="true"
        ></bank-number-input>
        <div class="withdraw__form mt-5">
          <b-form @submit="onSubmit" @reset="onReset">
            <withdraw-input v-model="form.withdraw"></withdraw-input>
            <div class="text-center">
              <default-button title="แจ้งถอนเงิน" fluid></default-button>
            </div>
          </b-form>
        </div>
      </div>
    </div>
  </mq-layout>
</template>

<script>
import Credit from '@/components/Credit'
import DefaultButton from '@/components/buttons/DefaultButton'
import BankNameInput from '@/components/forms/v2/BankNameInput'
import FullNameInput from '@/components/forms/v2/FullNameInput'
import BankNumberInput from '@/components/forms/v2/BankNumberInput'
import WithdrawInput from '@/components/forms/v2/WithdrawInput'
import Profile from '@/components/Profile'

export default {
  components: {
    Profile,
    WithdrawInput,
    BankNumberInput,
    FullNameInput,
    BankNameInput,
    Credit,
    DefaultButton,
  },
  data() {
    return {
      form: {
        withdraw: null,
      },
    }
  },
  methods: {
    onSubmit(e) {
      // CODE HERE
    },
    onReset(e) {
      // CODE HERE
    },
    onCreditRefresh() {
      // CODE HERE
    },
  },
}
</script>

<style scoped>
.container {
  padding: 20px;
}

.withdraw__form {
  padding: 20px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.4);
}
</style>
