<template>
  <div class="bottom-navigation">
    <ul class="bottom-navigation__wrapper">
      <li
        v-for="item in renderItems()"
        :key="item.name"
        :class="[
          'bottom-navigation__item',
          {
            active: isMenuActive(item.path),
            'play-game-icon': isPlayGameIcon(item),
          },
        ]"
      >
        <nuxt-link :to="item.path">
          <img
            :src="renderIcon(item)"
            :alt="item.name"
            class="bottom-navigation__item__icon"
          />
          <span class="bottom-navigation__item__name">{{ item.name }}</span>
        </nuxt-link>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  data() {
    return {
      menuItems: [
        {
          path: '/',
          name: 'หน้าแรก',
          icon: '/images/grey_home_icon.png',
          activeIcon: '/images/red_home_icon.png',
        },
        {
          path: '/deposit',
          name: 'ฝากเงิน',
          icon: '/images/grey_deposit_icon.png',
          activeIcon: '/images/red_deposit_icon.png',
        },
        {
          path: '/games',
          name: 'เข้าเล่นเกม',
          icon: '/images/play_game_mobile_icon.png',
          activeIcon: '/images/play_game_mobile_icon.png',
        },
        {
          path: '/withdraw',
          name: 'ถอนเงิน',
          icon: '/images/grey_withdraw_icon.png',
          activeIcon: '/images/red_withdraw_icon.png',
        },
        {
          path: '/contact',
          name: 'ติดต่อเรา',
          icon: '/images/grey_line_icon.png',
          activeIcon: '/images/red_line_icon.png',
        },
      ],
      gameItems: [
        {
          path: '/',
          name: 'หน้าแรก',
          icon: '/images/grey_home_icon.png',
          activeIcon: '/images/red_home_icon.png',
        },
        {
          path: '/games',
          name: 'คาสิโน',
          icon: '/images/grey_casino_icon.png',
          activeIcon: '/images/red_casino_icon.png',
        },
        {
          path: '/games/slot',
          name: 'สล็อต',
          icon: '/images/grey_slot_icon.png',
          activeIcon: '/images/red_slot_icon.png',
        },
        {
          path: '/games/shooting',
          name: 'ยิงปลา',
          icon: '/images/grey_fish_icon.png',
          activeIcon: '/images/red_fish_icon.png',
        },
        {
          path: '/games/sport',
          name: 'กีฬา',
          icon: '/images/grey_sport_icon.png',
          activeIcon: '/images/red_sport_icon.png',
        },
      ],
    }
  },
  methods: {
    isMenuActive(path) {
      return this.$route.path === path
    },
    isGamePage() {
      return this.$route.path.includes('games')
    },
    isPlayGameIcon(item) {
      return item.name === 'เข้าเล่นเกม'
    },
    renderIcon({ path, activeIcon, icon }) {
      return this.isMenuActive(path) ? activeIcon : icon
    },
    renderItems() {
      return this.isGamePage() ? this.gameItems : this.menuItems
    },
  },
}
</script>

<style scoped>
.bottom-navigation {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 3;
}

.bottom-navigation__wrapper {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  position: relative;
  background-color: white;
  padding: 10px 20px;
  width: 100vw;
}

.bottom-navigation__item a {
  text-align: center;
  color: #858585;
}

.bottom-navigation__item.active a {
  color: var(--primary-color);
}

.bottom-navigation__item__icon {
  width: 30px;
  margin: 0 auto;
  display: block;
}

.bottom-navigation__item.play-game-icon .bottom-navigation__item__icon {
  position: absolute;
  top: -40px;
  width: 75px;
}

.bottom-navigation__item.play-game-icon a {
  color: var(--primary-color);
  font-weight: 500;
}
</style>
