<template>
  <header class="header">
    <b-row align-v="center" no-gutters>
      <b-col cols="1">
        <nuxt-link to="/" class="header__menu__home" @click.native="closeMenu">
          <img src="/images/white_home_icon.png" alt="home" />
        </nuxt-link>
      </b-col>
      <b-col cols="10" class="header__menu__logo">
        <logo></logo>
      </b-col>
      <b-col cols="1">
        <div class="header__menu__hamburger text-right" @click="toggleMenu">
          <img
            v-if="isMenuShown"
            src="/images/red_hamburger_icon.png"
            alt="hamburger"
          />
          <img v-else src="/images/white_hamburger_icon.png" alt="hamburger" />
        </div>
      </b-col>
    </b-row>
    <div v-if="isMenuShown" class="header__menu">
      <nav>
        <ul>
          <li
            v-for="item in menuItems"
            :key="item.name"
            class="header__menu__item"
          >
            <nuxt-link :to="item.path" @click.native="toggleMenu">
              <img :src="item.icon" alt="user_menu" />
              <span>{{ item.name }}</span>
            </nuxt-link>
          </li>
        </ul>
      </nav>
    </div>
  </header>
</template>

<script>
import Logo from '@/components/Logo'

export default {
  components: { Logo },
  data() {
    return {
      isMenuShown: false,
      menuItems: [
        {
          path: '#',
          name: 'ระบบสมาชิก',
          icon: '/images/user_menu_icon.png',
        },
        {
          path: '/profile',
          name: 'ข้อมูลส่วนตัว',
          icon: '/images/profile_menu_icon.png',
        },
        {
          path: '/deposit',
          name: 'ฝากเงินออโต้',
          icon: '/images/deposit_menu_icon.png',
        },
        {
          path: '/withdraw',
          name: 'ถอนเงิน',
          icon: '/images/withdraw_menu_icon.png',
        },
        {
          path: '/history',
          name: 'ประวัติรายการ',
          icon: '/images/history_menu_icon.png',
        },
        {
          path: '/promotion',
          name: 'โปรโมชัน',
          icon: '/images/promotion_menu_icon.png',
        },
        {
          path: '/coupon',
          name: 'คูปอง',
          icon: '/images/coupon_menu_icon.png',
        },
      ],
    }
  },
  methods: {
    toggleMenu() {
      this.isMenuShown = !this.isMenuShown

      if (this.isMenuShown) {
        document.body.classList.add('open-mobile-menu')
      } else {
        document.body.classList.remove('open-mobile-menu')
      }
    },
    closeMenu() {
      if (this.isMenuShown) {
        this.toggleMenu()
      }
    },
  },
}
</script>

<style scoped>
.header {
  padding: 0 20px;
}

.header__menu {
  position: fixed;
  left: 0;
  z-index: 2;
  width: 100vw;
  height: 100%;
  background-color: var(--secondary-color);
  overflow-y: scroll;
  padding: 0 20px 300px;
}

.header__menu__logo {
  padding: 10px 20px;
}

.header__menu__home img {
  width: 30px;
}

.header__menu__hamburger img {
  width: 30px;
}

.header__menu__item {
  border-bottom: 1px solid #757983;
  display: flex;
  align-items: center;
}

.header__menu__item a {
  width: 100%;
  display: block;
  padding: 15px 0;
}

.header__menu__item img {
  width: 30px;
  margin-right: 10px;
}

.header__menu__item span {
  font-size: 17px;
  color: white;
}
</style>
