<template>
  <b-row align-v="center" class="profile mr-1 ml-1">
    <b-col class="col-auto user__info">
      <div class="profile__name small">ภัคภิญญา อุประหนอง</div>
      <div>
        <nuxt-link to="tel:phone" class="profile__phone" tahg>
          081-252-2509
        </nuxt-link>
      </div>
    </b-col>
    <b-col class="col user__credit">
      <div>
        20,000 เครดิต
        <img
          class="reload__icon"
          src="/images/red_reload_icon.png"
          alt="reload"
        />
      </div>
      <div class="small">ข้อมูล ณ เวลา 12:05:43 น.</div>
    </b-col>
  </b-row>
</template>

<script></script>

<style scoped>
.profile {
  min-height: 80px;
  background: #ffffff;
  box-shadow: 0px 2px 15px 4px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}

.user__info {
  border-right: 1px solid #eeeeee;
}

.profile__phone {
  color: black;
}

.reload__icon {
  max-height: 15px;
}
</style>
