<template>
  <mq-layout mq="sm">
    <div class="container">
      <profile></profile>
      <div class="coupon__wrapper">
        <b-form @submit="onSubmit">
          <h2 class="text-center mb-4">COUPON</h2>
          <coupon-input v-model="form.coupon"></coupon-input>
        </b-form>
      </div>
      <div class="text-center mt-4">
        <default-button title="รับคูปอง"></default-button>
      </div>
    </div>
  </mq-layout>
</template>

<script>
import DefaultButton from '@/components/buttons/DefaultButton'
import CouponInput from '@/components/forms/v2/CouponInput'
import Profile from '@/components/Profile'

export default {
  components: { Profile, CouponInput, DefaultButton },
  data() {
    return {
      form: {
        coupon: null,
      },
    }
  },
  methods: {
    onSubmit(e) {
      // CODE HERE
    },
  },
}
</script>

<style scoped>
.container {
  padding: 20px;
}

.coupon__wrapper {
  padding: 20px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.4);
}
</style>
