<template>
  <mq-layout mq="sm">
    <div class="container">
      <game-content title="Sport">
        <game-box-mobile></game-box-mobile>
        <game-box-mobile></game-box-mobile>
      </game-content>
    </div>
  </mq-layout>
</template>

<script>
import GameBoxMobile from '@/components/pages/games/GameBoxMobile'
import GameContent from '@/components/pages/games/Content'

export default {
  components: { GameBoxMobile, GameContent },
}
</script>

<style scoped>
.container {
  padding: 20px;
}
</style>
