<template>
  <div class="bank">Image Here</div>
</template>

<script></script>

<style scoped>
.bank {
  padding: 20px;
  border-radius: 10px;
  background-color: var(--tertiary-color);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
  height: 100%;
}
</style>
