<template>
  <div class="credit">
    <div class="credit__container">
      <div class="credit__title">ยอดเครดิตของคุณ</div>
      <div class="credit__amount">
        <span class="credit__amount__symbol">฿</span>
        <p class="credit__amount__decimal">{{ abbreviateNumber(credit) }}</p>
        <span class="credit__amount__digit">.00</span>
      </div>
      <img
        src="/images/red_reload_icon.png"
        alt="reload"
        class="credit__refresh"
      />
    </div>
    <div class="credit__time text-center mt-2">ข้อมูล ณ เวลา {{ date }} น.</div>
  </div>
</template>

<script scoped>
export default {
  props: {
    credit: {
      type: Number,
      required: true,
    },
    date: {
      type: String,
      required: true,
    },
    onRefresh: {
      type: Function,
      required: true,
    },
  },
  methods: {
    abbreviateNumber(number) {
      const SI_SYMBOL = ['', 'k', 'M', 'G', 'T', 'P', 'E']

      // what tier? (determines SI symbol)
      const tier = (Math.log10(number) / 3) | 0

      // if zero, we don't need a suffix
      if (tier === 0) return number

      // get suffix and determine scale
      const suffix = SI_SYMBOL[tier]
      const scale = Math.pow(10, tier * 3)

      // scale the number
      const scaled = number / scale

      // format number and add suffix
      return scaled.toFixed(1) + suffix
    },
  },
}
</script>

<style scoped>
.credit__container {
  width: 280px;
  height: 280px;
  border-radius: 50%;
  border: 2px solid var(--primary-color);
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  margin: 0 auto;
  user-select: none;
}

.credit__title {
  color: #8a8b90;
  margin-top: 20px;
}

.credit__amount {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  color: white;
}

.credit__amount__symbol {
  font-size: 60px;
  margin-right: 10px;
}

.credit__amount__decimal {
  font-size: 50px;
}

.credit__amount__digit {
  font-size: 25px;
}

.credit__refresh {
  width: 30px;
  position: absolute;
  bottom: 15px;
  right: 30px;
  cursor: pointer;
}

.credit__time {
  color: #a0a0a0;
}
</style>
