<template>
  <footer class="footer p-4">
    <p>Copyright © 2020 MAJOR1688. All rights Reserved. V071063002</p>
  </footer>
</template>

<script>
export default {}
</script>

<style scoped>
.footer {
  font-size: 12px;
  color: var(--quaternary-color);
  text-align: center;
}
</style>
