<template>
  <swiper class="swiper row" :options="swiperOption">
    <swiper-slide
      v-for="item in games"
      :key="item.name"
      class="col-auto game__card"
    >
      <div class="game__image">
        <img :src="item.image" alt="user_menu" />
      </div>
      <div class="title">
        {{ item.title }}
      </div>
      <div class="description">
        {{ item.description }}
      </div>
    </swiper-slide>
  </swiper>
</template>

<script>
import { Swiper, SwiperSlide } from 'vue-awesome-swiper'

export default {
  components: { Swiper, SwiperSlide },
  data() {
    return {
      games: [
        {
          id: '1',
          image: '/images/game.png',
          title: 'Jacky Runner',
          description: '฿19,000,00',
        },
        {
          id: '2',
          image: '/images/game.png',
          title: 'Jacky Runner',
          description: '฿19,000,00',
        },
        {
          id: '3',
          image: '/images/game.png',
          title: 'Jacky Runner',
          description: '฿19,000,00',
        },
        {
          id: '4',
          image: '/images/game.png',
          title: 'Jacky Runner',
          description: '฿19,000,00',
        },
        {
          id: '5',
          image: '/images/game.png',
          title: 'Jacky Runner',
          description: '฿19,000,00',
        },
        {
          id: '6',
          image: '/images/game.png',
          title: 'Jacky Runner',
          description: '฿19,000,00',
        },
        {
          id: '7',
          image: '/images/game.png',
          title: 'Jacky Runner',
          description: '฿19,000,00',
        },
        {
          id: '8',
          image: '/images/game.png',
          title: 'Jacky Runner',
          description: '฿19,000,00',
        },
        {
          id: '9',
          image: '/images/game.png',
          title: 'Jacky Runner',
          description: '฿19,000,00',
        },
      ],
      swiperOption: {
        loop: true,
        slidesPerView: '3',
        spaceBetween: 10,
        centeredSlides: true,
        pagination: {
          el: '.swiper-pagination',
          clickable: true,
        },
      },
    }
  },
}
</script>

<style scoped>
.game__card {
  background: #ffffff;
  box-shadow: 0 2px 15px 4px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  padding: 8px;
}

.game__image {
  text-align: center;
  margin-bottom: 8px;
}

.title {
  color: black;
  font-size: 15px;
}

.description {
  font-size: 12px;
  color: #9c231b;
}
</style>
