<template>
  <header class="header">
    <logo></logo>
    <profile-header></profile-header>
    <nav-menu></nav-menu>
  </header>
</template>

<script>
import Logo from '@/components/Logo'
import NavMenu from '@/components/NavMenu'
import ProfileHeader from '@/components/ProfileHeader'

export default {
  components: { NavMenu, Logo, ProfileHeader },
}
</script>

<style scoped></style>
