<template>
  <div class="logo">
    <b-container>
      <nuxt-link to="/">
        <img src="/images/logo.png" alt="major1688" />
      </nuxt-link>
    </b-container>
  </div>
</template>

<style scoped>
.logo {
  padding: 20px 0;
  text-align: center;
}

.logo img {
  width: 100%;
  max-width: 250px;
}
</style>
