<template>
  <div class="navigation">
    <b-container>
      <nav>
        <ul class="navigation__container">
          <li
            v-for="item in menuItems"
            :key="item.name"
            :class="[
              'navigation__menu__items',
              {
                active: isMenuActive(item.path),
                'is-first': item.name === 'เข้าเล่นเกม',
              },
            ]"
          >
            <nuxt-link :to="item.path">
              <b-col class="navigation__menu__link">
                <b-row align-h="center" class="navigation__menu__icon">
                  <img :src="item.icon" :alt="item.name" />
                </b-row>
                <b-row align-h="center" class="navigation__menu__name">
                  {{ item.name }}
                </b-row>
              </b-col>
            </nuxt-link>
          </li>
        </ul>
      </nav>
    </b-container>
  </div>
</template>

<script scoped>
export default {
  data() {
    return {
      menuItems: [
        {
          path: '/games',
          name: 'เข้าเล่นเกม',
          icon: '/images/play_game_icon.png',
        },
        {
          path: '/',
          name: 'ระบบสมาชิก',
          icon: '/images/red_user_icon.png',
        },
        {
          path: '/profile',
          name: 'ข้อมูลส่วนตัว',
          icon: '/images/red_profile_icon.png',
        },
        {
          path: '/deposit',
          name: 'ฝากเงินออโต้',
          icon: '/images/red_deposit_icon.png',
        },
        {
          path: '/withdraw',
          name: 'ถอนเงิน',
          icon: '/images/red_withdraw_icon.png',
        },
        {
          path: '/history',
          name: 'ประวัติทำรายการ',
          icon: '/images/red_history_icon.png',
        },
        {
          path: '/promotion',
          name: 'โปรโมชัน',
          icon: '/images/red_promotion_icon.png',
        },
        {
          path: '/coupon',
          name: 'คูปอง',
          icon: '/images/red_coupon_icon.png',
        },
        {
          path: '/contact',
          name: 'ติดต่อเรา',
          icon: '/images/red_line_icon.png',
        },
      ],
    }
  },
  methods: {
    isMenuActive(path) {
      return this.$route.path === path
    },
  },
}
</script>

<style scoped>
.navigation {
  position: relative;
  background-color: var(--tertiary-color);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5);
  overflow-y: scroll;
}

.navigation__container {
  display: flex;
  align-items: baseline;
}

.navigation__menu__items {
  user-select: none;
}

.navigation__menu__items a {
  display: inline-block;
  color: var(--secondary-color);
  padding-top: 20px;
  padding-bottom: 20px;
  min-width: 120px;
}
.navigation__menu__items {
  border-bottom: 3px solid transparent;
}

.navigation__menu__items:hover a {
  color: var(--primary-color);
}

.navigation__menu__items.is-first {
  border-color: var(--primary-color);
}

.navigation__menu__items.is-first a {
  background: var(--primary-color);
  color: white;
}

.navigation__menu__items.active {
  border-color: var(--primary-color);
}

.navigation__menu__link {
  padding-left: 15px;
  padding-right: 15px;
  border-right: 1px solid var(--quaternary-color);
}

.navigation__menu__items.is-first .navigation__menu__link {
  border-right: none;
}

.navigation__menu__icon {
  margin-bottom: 5px;
}

.navigation__menu__items.is-first .navigation__menu__icon img {
  width: 35px;
  height: auto;
}

.navigation__menu__icon img {
  width: 32px;
  height: 30px;
}

@media screen and (max-width: 1200px) {
  .navigation {
    overflow-y: scroll;
  }

  .navigation::-webkit-scrollbar {
    display: none;
  }

  .navigation__menu__items a {
    min-width: 150px;
  }
}
</style>
