<template>
  <b-row align-v="center" align-h="center" class="profile">
    <b-col cols="0" md="2" class="mr-4">
      <img src="/images/user_icon.png" alt="user" class="profile__icon" />
    </b-col>
    <b-col class="mb-4">
      <p class="profile__name">ภัคภิญญา อุประหนอง</p>
      <p>
        <nuxt-link to="tel:phone" class="profile__phone">
          0999999919
        </nuxt-link>
      </p>
    </b-col>
  </b-row>
</template>

<script></script>

<style scoped>
.profile {
  padding: 20px;
  border-radius: 10px;
  background-color: var(--tertiary-color);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
  height: 100%;
}

.profile__icon {
  max-width: 90px;
}

.profile__name {
  font-size: 20px;
  color: black;
}

.profile__phone {
  color: white;
  font-size: 17px;
  border-radius: 20px;
  background-color: black;
  padding: 5px 25px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .profile {
    background-color: transparent;
    padding: 0;
    border-radius: 0;
    box-shadow: none;
  }

  .profile__icon {
    display: none;
  }

  .profile__name {
    color: white;
    margin-bottom: 5px;
  }

  .profile__phone {
    padding: 0 10px;
  }
}
</style>
