<template>
  <div class="profile-header">
    <b-container>
      <b-row align-v="center">
        <b-col class="profile-header__hi">สวัสดี คุณภัคภิญญา อุประหนอง</b-col>
        <b-col class="text-right">
          <outline-button title="ออกจากระบบ"></outline-button>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import OutlineButton from '@/components/buttons/OutlineButton'

export default {
  components: { OutlineButton },
}
</script>

<style scoped>
.profile-header {
  padding: 10px 0;
  background-image: linear-gradient(90deg, #b41a24 0%, #00171f 100%);
}

.profile-header__hi {
  color: white;
}
</style>
