<template>
  <swiper class="swiper" :options="swiperOption">
    <swiper-slide v-for="item in banners" :key="item.name" class="banner">
      <img class="img-fluid banner__image" :src="item.image" alt="banner" />
    </swiper-slide>
    <div
      slot="pagination"
      class="text-center promotion-swiper-pagination"
    ></div>
  </swiper>
</template>

<script>
import { Swiper, SwiperSlide } from 'vue-awesome-swiper'

export default {
  components: { Swiper, SwiperSlide },
  data() {
    return {
      banners: [
        {
          id: '1',
          image: '/images/banner.png',
        },
        {
          id: '2',
          image: '/images/banner.png',
        },
        {
          id: '3',
          image: '/images/banner.png',
        },
        {
          id: '4',
          image: '/images/banner.png',
        },
      ],
      swiperOption: {
        loop: true,
        slidesPerView: 'auto',
        spaceBetween: 10,
        centeredSlides: true,
        pagination: {
          el: '.promotion-swiper-pagination',
          clickable: true,
        },
      },
    }
  },
}
</script>

<style scoped>
.banner {
  max-width: 85vw;
}

.banner__image {
  box-shadow: 0px 4px 15px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.swiper-pagination {
  position: unset;
}
</style>
