<template>
  <div class="qr-code">
    <img src="/images/contact.png" alt="contact" />
  </div>
</template>

<script></script>

<style scoped>
.qr-code {
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
}

.qr-code img {
  max-width: 100%;
}
</style>
