<template>
  <div class="wrapper p-5">
    <slot></slot>
  </div>
</template>

<script>
export default {}
</script>

<style scoped>
.wrapper {
  max-width: 1100px;
  margin: 0 auto;
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

@media screen and (max-width: 1200px) {
  .wrapper {
    border-radius: 0;
  }
}
</style>
