<template>
  <mq-layout mq="sm">
    <div class="contact__container">
      <profile></profile>
      <div class="contact__info text-center">
        <img src="/images/contact.png" alt="contact" />
      </div>
      <div class="text-center mt-5">
        <default-link-button
          title="LINE@MAJOR1688"
          to="#"
        ></default-link-button>
      </div>
    </div>
  </mq-layout>
</template>

<script>
import DefaultLinkButton from '@/components/buttons/DefaultLinkButton'
import Profile from '@/components/Profile'

export default {
  components: {
    Profile,
    DefaultLinkButton,
  },
}
</script>

<style scoped>
.contact__container {
  padding: 30px;
}

.contact__info {
  padding: 20px;
  border-radius: 20px;
  background-color: white;
}

.contact__info img {
  width: 100%;
}
</style>
