<template>
  <mq-layout mq="sm">
    <div class="login__container">
      <div class="login__wrapper">
        <div class="login__form">
          <logo></logo>
          <h2 class="login__title my-4">เข้าสู่ระบบ!</h2>
          <b-form @submit="onSubmit" @reset="onReset">
            <username-input v-model="form.username"></username-input>
            <password-input v-model="form.password"></password-input>
            <div class="text-right">
              <text-link-button
                title="สมัครสมาชิก"
                to="/register"
              ></text-link-button>
            </div>
            <div class="text-center mt-4">
              <exclusive-button
                title="เข้าสู่ระบบ"
                :red="true"
              ></exclusive-button>
            </div>
          </b-form>
        </div>
      </div>
    </div>
  </mq-layout>
</template>

<script>
import Logo from '@/components/Logo'
import UsernameInput from '@/components/forms/v3/UsernameInput'
import PasswordInput from '@/components/forms/v3/PasswordInput'
import ExclusiveButton from '@/components/buttons/ExclusiveButton'
import TextLinkButton from '@/components/buttons/TextLinkButton'

export default {
  layout: 'auth',
  components: {
    Logo,
    UsernameInput,
    PasswordInput,
    TextLinkButton,
    ExclusiveButton,
  },
  data() {
    return {
      form: {
        username: null,
        password: null,
      },
    }
  },
  methods: {
    onSubmit(e) {
      // CODE HERE
    },
    onReset(e) {
      // CODE HERE
    },
  },
}
</script>

<style scoped>
.login__container {
  padding: 20px;
}

.login__title {
  font-size: 30px;
  color: white;
}

.login__form {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
</style>
