<template>
  <mq-layout mq="md+">
    <wrapper>
      <div class="container">
        <b-row>
          <b-col cols="9">
            <deposit-bank></deposit-bank>
          </b-col>
          <b-col>
            <QRCode></QRCode>
          </b-col>
        </b-row>
        <div class="content my-5">
          <b-row align-v="center" align-h="center">
            <b-col cols="5" class="text-center">
              <img
                src="/images/account_icon.png"
                alt="account"
                class="deposit__icon"
              />
            </b-col>
            <b-col>
              <b-form @submit="onSubmit">
                <bank-name-input v-model="form.bankName"></bank-name-input>
                <bank-number-input
                  v-model="form.bankNumber"
                ></bank-number-input>
              </b-form>
            </b-col>
          </b-row>
        </div>
        <div class="text-center my-4">
          <default-button
            title="คัดลอกเลขที่บัญชี"
            @click.native="onCopy"
          ></default-button>
        </div>
        <div class="deposit__line"></div>
        <div class="deposit__footer pt-4">
          <p>โปรดโอนจากธนาคาร : <span>กสิกรไทย</span></p>
          <p>ชื่อบัญชี : <span>ภัคภิญญา อุประหนอง</span></p>
          <p>เลขที่บัญชี : <span>061-8-53883-4</span></p>
        </div>
      </div>
    </wrapper>
  </mq-layout>
</template>

<script>
import Wrapper from '@/components/Wrapper'
import QRCode from '@/components/QRCode'
import BankNumberInput from '@/components/forms/v2/BankNumberInput'
import BankNameInput from '@/components/forms/v2/BankNameInput'
import DepositBank from '@/components/pages/deposit/DepositBank'
import DefaultButton from '@/components/buttons/DefaultButton'

export default {
  components: {
    DefaultButton,
    DepositBank,
    BankNameInput,
    BankNumberInput,
    Wrapper,
    QRCode,
  },
  data() {
    return {
      form: {
        bankName: null,
        bankNumber: null,
      },
    }
  },
  methods: {
    onSubmit(e) {
      // CODE HERE
    },
    onCopy() {
      // CODE HERE
    },
  },
}
</script>

<style scoped>
.container {
  max-width: 700px;
  margin: 0 auto;
}

.content {
  padding: 20px 80px;
  border-radius: 10px;
  background-color: var(--tertiary-color);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
}

.deposit__icon {
  max-width: 150px;
}

.deposit__line {
  border-top: 1px solid var(--primary-color);
}

.deposit__footer {
  width: 220px;
  max-width: 100%;
  margin: 0 auto;
}

.deposit__footer p,
.deposit__footer span {
  font-weight: 500;
}

.deposit__footer p {
  margin: 0;
}

.deposit__footer span {
  color: var(--primary-color);
}
</style>
