:root {
  --primary-color: #ab1b23;
  --secondary-color: #101720;
  --tertiary-color: #d8d8d8;
  --quaternary-color: #bdbdbd;
  --quinary-color: #f1f1f1;
}

body {
  font-family: 'Kanit', sans-serif !important;
  font-weight: 400;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  background-color: var(--secondary-color);
  min-height: 100vh;
}

@media screen and (max-width: 767px) {
  body {
    background-color: transparent;
    background-image: linear-gradient(180deg, #AA0D0F 0%, #0C161E 100%);
  }

  body.open-mobile-menu {
    position: fixed;
    overflow: hidden;
    background-color: var(--secondary-color);
    background-image: none;
  }

}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

button:focus,
button:focus {
  outline: none;
}

a:hover {
  text-decoration: none;
  color: #ffffff;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h3, p {
  line-height: 1.7;
}

.page {
  margin: 100px auto;
}

@media screen and (max-width: 480px) {
  .page {
    margin: 0;
    padding: 20px;
  }
}
