.tabs {
  width: 100%;
}

.tabs .nav-tabs {
  border-bottom: 0;
}

.tabs .nav-tabs .nav-link {
  border: 0;
  font-weight: 500;
  color: #ffffff;
  outline: 0;
}

.nav-tabs .nav-item {
  outline: 0;
}

.tabs .nav-tabs .nav-link.active,
.tabs .nav-tabs .nav-item.show .nav-link {
  background-color: transparent;
  border-bottom: 2px solid var(--primary-color);
}

.tabs .nav-tabs .nav-link {
  padding: 0 0 0.5rem;
  margin: 0 1rem;
}

@media screen and (max-width: 767px) {
  .tabs .nav-tabs {
    overflow-y: hidden;
    overflow-x: scroll;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
  }

  .tabs .nav-tabs::-webkit-scrollbar {
    display: none;
  }

  .nav-tabs .nav-item {
    flex: 0 0 auto;
  }
}

.swiper-pagination-bullet{
  background-color: var(--white) !important;
}

.swiper-pagination-bullet-active {
  background-color: var(--primary-color) !important;
}
