<template>
  <nuxt-link :to="link">
    <div class="promotion-box">
      <img :src="image" alt="promotion" />
    </div>
  </nuxt-link>
</template>

<script>
export default {
  props: {
    image: {
      type: String,
      required: true,
    },
    link: {
      type: String,
      required: true,
    },
  },
}
</script>

<style scoped>
.promotion-box {
  border-radius: 10px;
  border: 1px solid var(--primary-color);
  overflow: hidden;
}

.promotion-box img {
  max-width: 100%;
}
</style>
