<template>
  <mq-layout mq="sm">
    <div class="profile__container">
      <profile></profile>
      <div class="profile__info">
        <b-form @submit="onSubmitProfile">
          <full-name-input v-model="form.fullName"></full-name-input>
          <phone-input v-model="form.phone"></phone-input>
          <bank-select-input v-model="form.bank"></bank-select-input>
          <bank-number-input v-model="form.bankNumber"></bank-number-input>
        </b-form>
      </div>
      <div class="text-center mt-4">
        <default-button title="แก้ไขข้อมูล"></default-button>
      </div>
      <div class="profile__password mt-4">
        <b-form @submit="onSubmitPassword">
          <password-input v-model="form.password"></password-input>
          <password-input v-model="form.password"></password-input>
          <confirm-password-input
            v-model="form.confirmPassword"
          ></confirm-password-input>
          <div class="text-center mt-4">
            <default-button title="แก้ไขข้อมูล"></default-button>
          </div>
        </b-form>
      </div>
    </div>
  </mq-layout>
</template>

<script>
import FullNameInput from '@/components/forms/v2/FullNameInput'
import DefaultButton from '@/components/buttons/DefaultButton'
import PhoneInput from '@/components/forms/v2/PhoneInput'
import PasswordInput from '@/components/forms/v2/PasswordInput'
import ConfirmPasswordInput from '@/components/forms/v2/ConfirmPasswordInput'
import BankSelectInput from '@/components/forms/v2/BankSelectInput'
import BankNumberInput from '@/components/forms/v2/BankNumberInput'
import Profile from '@/components/Profile'

export default {
  components: {
    Profile,
    BankNumberInput,
    BankSelectInput,
    ConfirmPasswordInput,
    PasswordInput,
    PhoneInput,
    FullNameInput,
    DefaultButton,
  },
  data() {
    return {
      form: {
        fullName: null,
        phone: null,
      },
    }
  },
  methods: {
    onSubmitProfile(e) {
      // CODE HERE
    },
    onSubmitPassword(e) {
      // CODE HERE
    },
  },
}
</script>

<style scoped>
.profile__container {
  padding: 20px;
}

.profile__info {
  padding: 20px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.4);
}

.profile__password {
  padding: 20px;
}
</style>
