<template>
  <div>
    <games-desktop></games-desktop>
    <games-mobile></games-mobile>
  </div>
</template>

<script>
import GamesDesktop from '@/components/pages/games/casino/desktop/CasinoDesktop'
import GamesMobile from '@/components/pages/games/casino/mobile/CasinoMobile'

export default {
  layout: 'game',
  components: { GamesMobile, GamesDesktop },
}
</script>

<style scoped></style>
