<template>
  <div>
    <slot-desktop></slot-desktop>
    <slot-mobile></slot-mobile>
  </div>
</template>

<script>
import SlotDesktop from '@/components/pages/games/slot/desktop/SlotDesktop'
import SlotMobile from '@/components/pages/games/slot/mobile/SlotMobile'

export default {
  layout: 'game',
  components: { SlotMobile, SlotDesktop },
}
</script>

<style scoped></style>
