<template>
  <div>
    <sport-desktop></sport-desktop>
    <sport-mobile></sport-mobile>
  </div>
</template>

<script>
import SportDesktop from '@/components/pages/games/sport/desktop/SportDesktop'
import SportMobile from '@/components/pages/games/sport/mobile/SportMobile'

export default {
  layout: 'game',
  components: { SportMobile, SportDesktop },
}
</script>

<style scoped></style>
