<template>
  <mq-layout mq="md+">
    <home-profile></home-profile>
    <home-promotion></home-promotion>
  </mq-layout>
</template>

<script>
import HomeProfile from '@/components/pages/home/desktop/Profile'
import HomePromotion from '@/components/pages/home/desktop/Promotion'

export default {
  components: { HomeProfile, HomePromotion },
}
</script>

<style scoped></style>
