<template>
  <div class="home-profile">
    <b-row align-v="center" class="container">
      <b-col>
        <credit
          :credit="100"
          :on-refresh="onCreditRefresh"
          date="12.00"
        ></credit>
      </b-col>
      <b-col>
        <div class="home-profile__content">
          <b-form @submit="onSubmit" @reset="onReset">
            <h2 class="home-profile__name pl-2 mb-4">คุณภัคภิญญา อุประหนอง</h2>
            <bank-select-input v-model="form.bankName"></bank-select-input>
            <bank-number-input v-model="form.bankNumber"></bank-number-input>
            <div class="text-center mt-4">
              <exclusive-button title="แก้ไขข้อมูล"></exclusive-button>
            </div>
          </b-form>
        </div>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import Credit from '@/components/Credit'
import BankNumberInput from '@/components/forms/v3/BankNumberInput'
import BankSelectInput from '@/components/forms/v3/BankSelectInput'
import ExclusiveButton from '@/components/buttons/ExclusiveButton'

export default {
  components: {
    ExclusiveButton,
    BankSelectInput,
    Credit,
    BankNumberInput,
  },
  data() {
    return {
      form: {
        bankName: null,
        bankNumber: null,
      },
    }
  },
  methods: {
    onSubmit(e) {
      // CODE HERE
    },
    onReset(e) {
      // CODE HERE
    },
    onCreditRefresh() {
      // CODE HERE
    },
  },
}
</script>

<style scoped>
.home-profile {
  max-width: 1100px;
  margin: 0 auto;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-image: url(/images/red_bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
}

.container {
  height: 100%;
}

.home-profile__name {
  color: white;
  font-size: 25px;
}

.home-profile__content {
  max-width: 300px;
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  .home-profile__content {
    max-width: 200px;
    float: right;
  }
}
</style>
