<template>
  <b-container>
    <div class="home-promotion">
      <div class="home-promotion-title">
        <h2>โปรโมชั่น</h2>
        <span class="home-promotion-new ml-2">NEW</span>
      </div>
      <div class="home-promotion-content">
        <b-row>
          <b-col cols="4">
            <promotion-box
              image="https://dummyimage.com/370x370/000/fff"
              link="www.google.com"
            ></promotion-box>
          </b-col>
          <b-col cols="4">
            <b-row>
              <promotion-box
                image="https://dummyimage.com/370x160/000/fff"
                link="www.google.com"
              ></promotion-box>
            </b-row>
            <b-row class="mt-3">
              <promotion-box
                image="https://dummyimage.com/370x160/000/fff"
                link="www.google.com"
              ></promotion-box>
            </b-row>
          </b-col>
          <b-col cols="4">
            <promotion-box
              image="https://dummyimage.com/370x370/000/fff"
              link="www.google.com"
            ></promotion-box>
          </b-col>
        </b-row>
      </div>
    </div>
  </b-container>
</template>

<script>
import PromotionBox from '@/components/pages/promotion/PromotionBox'

export default {
  components: { PromotionBox },
}
</script>

<style scoped>
.home-promotion {
  margin: 20px 0;
}

.home-promotion-title {
  font-size: 30px;
  color: #ffffff;
  margin-bottom: 10px;
  margin-left: 20px;
  display: flex;
  align-items: center;
}

.home-promotion-title h2 {
  display: inline-block;
}

.home-promotion-new {
  font-size: 17px;
  background-color: var(--primary-color);
  padding: 0 10px;
  border-radius: 5px;
}

.home-promotion-content {
  padding: 20px;
  background-color: #4c525a;
  border-radius: 10px;
}
</style>
