<template>
  <mq-layout mq="sm">
    <div class="container">
      <profile></profile>
      <div class="content mb-5">
        <Transaction
          v-for="item in items"
          :key="item.id"
          :transaction="item"
        ></Transaction>
      </div>
    </div>
  </mq-layout>
</template>

<script>
import Profile from '@/components/Profile'
import Transaction from '@/components/pages/history/mobile/Transaction'

export default {
  components: { Profile, Transaction },
  data() {
    return {
      items: [
        {
          id: 1,
          type: 'ถอนเงิน',
          amount: '-100.00',
          created_at: '1000-01-01 00:00:00',
        },
        {
          id: 2,
          type: 'ฝากเงิน',
          amount: '+100.00',
          created_at: '1000-01-01 00:00:00',
        },
        {
          id: 3,
          type: 'ถอนเงิน',
          amount: '-100.00',
          created_at: '1000-01-01 00:00:00',
        },
        {
          id: 4,
          type: 'ฝากเงิน',
          amount: '+100.00',
          created_at: '1000-01-01 00:00:00',
        },
      ],
    }
  },
}
</script>

<style scoped>
.container {
  padding: 20px;
}
</style>
