<template>
  <div class="transaction container mb-3">
    <b-row align-v="center">
      <b-col cols="7" class="transaction__left">
        <p class="transaction__type">{{ transaction.type }}</p>
        <span class="transaction__date">{{ transaction.created_at }}</span>
        <div class="transaction__line"></div>
      </b-col>
      <b-col class="transaction__right text-center">
        <span
          :class="[
            'transaction__amount',
            { withdraw: transaction.amount < 0 },
            { deposit: transaction.amount > 0 },
          ]"
        >
          {{ transaction.amount }} ฿
        </span>
      </b-col>
    </b-row>
  </div>
</template>

<script>
export default {
  props: {
    transaction: {
      type: Object,
      required: true,
    },
  },
}
</script>

<style scoped>
.container.transaction {
  padding: 15px 20px;
  background-color: white;
  border-radius: 15px;
}

.transaction__type {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}

.transaction__date {
  font-size: 15px;
  color: var(--tertiary-color);
}

.transaction__left {
  border-right: 1px solid var(--quinary-color);
}

.transaction__amount {
  font-size: 20px;
  font-weight: 500;
  color: black;
}

.transaction__amount.withdraw {
  color: var(--primary-color);
}

.transaction__amount.deposit {
  color: #23ab4a;
}
</style>
