<template>
  <b-form-group>
    <label :class="[{ 'is-white': labelWhite }]">ยืนยันรหัสผ่านใหม่</label>
    <div class="form-input">
      <img
        src="/images/grey_lock_icon.png"
        alt="bank"
        class="form-input__icon"
      />
      <b-form-input
        class="form-input__input"
        type="password"
        required
        placeholder="ยืนยันรหัสผ่านใหม่"
        :value="value"
        @input.native="$emit('input', $event.target.value)"
      ></b-form-input>
    </div>
  </b-form-group>
</template>

<script>
export default {
  props: {
    value: {
      type: String,
      default: '',
    },
    labelWhite: {
      type: Boolean,
      default: false,
    },
  },
}
</script>

<style scoped>
label {
  color: #616161;
  margin-left: 10px;
}

label.is-white {
  color: white;
}

.form-input {
  position: relative;
}

.form-input__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  width: 20px;
  transform: translateY(-50%);
}

.form-input__input {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  border-radius: 10px;
  border: 2px solid transparent;
  box-shadow: inset 0 0 0.2rem rgba(0, 0, 0, 0.2);
  color: #222222;
  height: 100%;
  background-color: #fbfbfb;
}

.form-input__input:focus {
  border-color: var(--primary-color);
  box-shadow: none;
  outline: 0;
}

@media screen and (max-width: 767px) {
  label {
    display: none;
  }
}
</style>
