<template>
  <b-form-group>
    <div class="form-input">
      <b-form-input
        class="form-input__input"
        type="text"
        required
        placeholder="ระบุคูปอง"
        :value="value"
        @input.native="$emit('input', $event.target.value)"
      ></b-form-input>
    </div>
  </b-form-group>
</template>

<script>
export default {
  props: {
    value: {
      type: String,
      default: '',
    },
  },
}
</script>

<style scoped>
label {
  color: #616161;
  margin-left: 10px;
}

.form-input {
  position: relative;
}

.form-input__input {
  font-size: 25px;
  padding: 30px;
  border-radius: 10px;
  border: 2px solid transparent;
  box-shadow: inset 0 0 0.2rem rgba(0, 0, 0, 0.2);
  color: #222222;
  background-color: #fbfbfb;
}

.form-input__input:focus {
  border-color: var(--primary-color);
  box-shadow: none;
  outline: 0;
}
</style>
