<template>
  <b-form-group>
    <div class="form-input">
      <p class="form-input__label">จำนวนที่ต้องการถอน</p>
      <b-form-input
        class="form-input__input"
        type="text"
        required
        placeholder="00.00"
        :value="value"
        @input.native="$emit('input', $event.target.value)"
      ></b-form-input>
    </div>
  </b-form-group>
</template>

<script>
export default {
  props: {
    value: {
      type: String,
      default: '',
    },
  },
}
</script>

<style scoped>
label {
  color: #616161;
  margin-left: 10px;
}

.form-input {
  position: relative;
}

.form-input__label {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  font-size: 20px;
  font-weight: 500;
  color: var(--tertiary-color);
}

.form-input__input {
  padding: 10px 30px 10px 10px;
  border-radius: 10px;
  border: 2px solid transparent;
  box-shadow: inset 0 0 0.2rem rgba(0, 0, 0, 0.2);
  font-size: 25px;
  font-weight: 500;
  color: var(--secondary-color);
  height: 100%;
  text-align: right;
  background-color: #fbfbfb;
}

.form-input__input:focus {
  border-color: var(--primary-color);
  box-shadow: none;
  outline: 0;
}
</style>
