<template>
  <div>
    <mq-layout mq="md+">
      <!-- Header -->
      <Header></Header>
      <!-- Header -->
    </mq-layout>

    <mq-layout mq="sm">
      <!-- Header -->
      <header-mobile></header-mobile>
      <!-- Header -->
    </mq-layout>

    <!-- Content -->
    <Nuxt />
    <!-- Content -->

    <mq-layout mq="md+">
      <!-- Footer -->
      <Footer></Footer>
      <!-- Footer -->
    </mq-layout>

    <mq-layout mq="sm">
      <!-- Bottom Navigation -->
      <bottom-navigation></bottom-navigation>
      <!-- Bottom Navigation -->

      <!-- Footer -->
      <footer-mobile></footer-mobile>
      <!-- Footer -->
    </mq-layout>
  </div>
</template>

<style scoped></style>
<script>
import Header from '@/components/Header.vue'
import Footer from '@/components/Footer.vue'
import BottomNavigation from '@/components/mobile/BottomNavigation'
import HeaderMobile from '@/components/mobile/HeaderMobile'
import FooterMobile from '@/components/mobile/FooterMobile'

export default {
  components: { HeaderMobile, FooterMobile, Header, Footer, BottomNavigation },
}
</script>
