<template>
  <wrapper>
    <p>ขออภัย! ดูเหมือนว่าจะไม่มีหน้าที่คุณค้นหา</p>
  </wrapper>
</template>

<script>
import Wrapper from '@/components/Wrapper.vue'

export default {
  components: { Wrapper },
}
</script>
