<template>
  <div>
    <contact-desktop></contact-desktop>
    <contact-mobile></contact-mobile>
  </div>
</template>

<script>
import ContactMobile from '@/components/pages/contact/mobile/ContactMobile'
import ContactDesktop from '@/components/pages/contact/desktop/ContactDesktop'

export default {
  components: {
    ContactDesktop,
    ContactMobile,
  },
}
</script>

<style scoped></style>
