<template>
  <div>
    <coupon-desktop></coupon-desktop>
    <coupon-mobile></coupon-mobile>
  </div>
</template>

<script>
import CouponDesktop from '@/components/pages/coupon/desktop/CouponDesktop'
import CouponMobile from '@/components/pages/coupon/mobile/CouponMobile'

export default {
  components: { CouponMobile, CouponDesktop },
}
</script>

<style scoped></style>
