<template>
  <div>
    <deposit-desktop></deposit-desktop>
    <deposit-mobile></deposit-mobile>
  </div>
</template>

<script>
import DepositDesktop from '@/components/pages/deposit/desktop/DepositDesktop'
import DepositMobile from '@/components/pages/deposit/mobile/DepositMobile'

export default {
  components: {
    DepositMobile,
    DepositDesktop,
  },
}
</script>

<style scoped></style>
