<template>
  <div>
    <history-desktop></history-desktop>
    <history-mobile></history-mobile>
  </div>
</template>

<script>
import HistoryDesktop from '@/components/pages/history/desktop/HistoryDesktop'
import HistoryMobile from '@/components/pages/history/mobile/HistoryMobile'

export default {
  components: { HistoryMobile, HistoryDesktop },
}
</script>

<style scoped></style>
