<template>
  <div>
    <home-desktop></home-desktop>
    <home-mobile></home-mobile>
  </div>
</template>

<script>
import HomeMobile from '@/components/pages/home/mobile/HomeMobile'
import HomeDesktop from '@/components/pages/home/desktop/HomeDesktop'

export default {
  components: { HomeDesktop, HomeMobile },
}
</script>

<style scoped></style>
