<template>
  <div class="login">
    <login-desktop></login-desktop>
    <login-mobile></login-mobile>
  </div>
</template>

<script>
import LoginDesktop from '@/components/pages/login/desktop/LoginDesktop'
import LoginMobile from '@/components/pages/login/mobile/LoginMobile'

export default {
  layout: 'auth',
  components: {
    LoginMobile,
    LoginDesktop,
  },
}
</script>

<style scoped></style>
