<template>
  <div>
    <profile-desktop></profile-desktop>
    <profile-mobile></profile-mobile>
  </div>
</template>

<script>
import ProfileDesktop from '@/components/pages/profile/desktop/ProfileDesktop'
import ProfileMobile from '@/components/pages/profile/mobile/ProfileMobile'

export default {
  components: {
    ProfileMobile,
    ProfileDesktop,
  },
}
</script>

<style scoped></style>
