<template>
  <div>
    <promotion-desktop></promotion-desktop>
    <promotion-mobile></promotion-mobile>
  </div>
</template>

<script>
import PromotionDesktop from '@/components/pages/promotion/desktop/PromotionDesktop'
import PromotionMobile from '@/components/pages/promotion/mobile/PromotionMobile'

export default {
  components: { PromotionMobile, PromotionDesktop },
}
</script>

<style scoped></style>
