<template>
  <div>
    <register-desktop></register-desktop>
    <register-mobile></register-mobile>
  </div>
</template>

<script>
import RegisterDesktop from '@/components/pages/register/desktop/RegisterDesktop'
import RegisterMobile from '@/components/pages/register/mobile/RegisterMobile'

export default {
  layout: 'auth',
  components: {
    RegisterMobile,
    RegisterDesktop,
  },
}
</script>

<style scoped></style>
