<template>
  <div>
    <withdraw-desktop></withdraw-desktop>
    <withdraw-mobile></withdraw-mobile>
  </div>
</template>

<script>
import WithdrawDesktop from '@/components/pages/withdraw/desktop/WithdrawDesktop'
import WithdrawMobile from '@/components/pages/withdraw/mobile/WithdrawMobile'

export default {
  components: {
    WithdrawMobile,
    WithdrawDesktop,
  },
}
</script>

<style scoped></style>
