<template>
  <mq-layout mq="md+">
    <game-content title="Slot">
      <b-row>
        <b-tabs content-class="mt-4">
          <b-tab title="เกมส์ทั้งหมด">
            <b-row class="m-0">
              <b-col md="4" lg="2"><game-box></game-box></b-col>
              <b-col md="4" lg="2"><game-box></game-box></b-col>
              <b-col md="4" lg="2"><game-box></game-box></b-col>
              <b-col md="4" lg="2"><game-box></game-box></b-col>
              <b-col md="4" lg="2"><game-box></game-box></b-col>
              <b-col md="4" lg="2"><game-box></game-box></b-col>
              <b-col md="4" lg="2"><game-box></game-box></b-col>
            </b-row>
          </b-tab>
          <b-tab title="เกมส์มาใหม่">
            <b-row class="m-0">
              <b-col md="4" lg="2"><game-box></game-box></b-col>
              <b-col md="4" lg="2"><game-box></game-box></b-col>
              <b-col md="4" lg="2"><game-box></game-box></b-col>
              <b-col md="4" lg="2"><game-box></game-box></b-col>
              <b-col md="4" lg="2"><game-box></game-box></b-col>
            </b-row>
          </b-tab>
          <b-tab title="เกมส์แนะนำ">
            <b-row class="m-0">
              <b-col md="4" lg="2"><game-box></game-box></b-col>
              <b-col md="4" lg="2"><game-box></game-box></b-col>
              <b-col md="4" lg="2"><game-box></game-box></b-col>
              <b-col md="4" lg="2"><game-box></game-box></b-col>
              <b-col md="4" lg="2"><game-box></game-box></b-col>
              <b-col md="4" lg="2"><game-box></game-box></b-col>
            </b-row>
          </b-tab>
          <b-tab title="เกมส์ยอดนิยม" class="slot__games__item">
            <b-row class="m-0">
              <b-col md="4" lg="2"><game-box></game-box></b-col>
              <b-col md="4" lg="2"><game-box></game-box></b-col>
            </b-row>
          </b-tab>
        </b-tabs>
      </b-row>
    </game-content>
  </mq-layout>
</template>

<script>
import GameBox from '@/components/pages/games/GameBoxDesktop'
import GameContent from '@/components/pages/games/Content'

export default {
  components: { GameBox, GameContent },
}
</script>

<style scoped></style>
