<template>
  <b-form-group>
    <label>อีเมล</label>
    <b-input-group>
      <b-input-group-prepend is-text>
        <b-icon icon="mailbox" class="icon"></b-icon>
      </b-input-group-prepend>
      <b-form-input
        id="email"
        type="text"
        required
        placeholder="อีเมล"
        :value="value"
        @input.native="$emit('input', $event.target.value)"
      ></b-form-input>
    </b-input-group>
  </b-form-group>
</template>

<script>
export default {
  props: {
    value: {
      type: String,
      default: '',
    },
  },
}
</script>

<style scoped>
label {
  color: white;
  margin-left: 20px;
}

.icon {
  color: white;
}

.input-group-text {
  background-color: var(--primary-color);
  border-color: transparent;
}

.input-group-text {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.form-control {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
</style>
