<template>
  <b-form-group>
    <label>เบอร์มือถือ</label>
    <div class="form-input">
      <div class="form-input__icon">
        <img src="/images/white_phone_icon.png" alt="bank" />
      </div>
      <b-form-input
        class="form-input__input"
        type="text"
        required
        placeholder="เบอร์มือถือ"
        :value="value"
        @input.native="$emit('input', $event.target.value)"
      ></b-form-input>
    </div>
  </b-form-group>
</template>

<script>
export default {
  props: {
    value: {
      type: String,
      default: '',
    },
  },
}
</script>

<style scoped>
label {
  color: #cfd2d4;
  margin-left: 10px;
}

.form-input {
  position: relative;
}

.form-input__icon {
  position: absolute;
  left: 0;
  width: 45px;
  height: 100%;
  background-color: var(--primary-color);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.form-input__icon img {
  width: 20px;
}

.form-input__input {
  padding-left: 60px;
  border-radius: 20px;
  border-color: transparent;
}

.form-input__input:focus {
  box-shadow: none;
  border-color: transparent;
  outline: 0;
}
</style>
