<template>
  <div class="container text-center">
    <img src="/images/kasikorn_bank.png" alt="user" class="image" />
  </div>
</template>

<script></script>

<style scoped>
.container {
  padding: 20px;
  border-radius: 10px;
  background-color: var(--tertiary-color);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
  height: 100%;
}

.image {
  max-width: 300px;
}

@media screen and (max-width: 767px) {
  .container {
    padding: 10px 20px !important;
    background-color: rgba(255, 255, 255, 0.7);
  }
}
</style>
