<template>
  <mq-layout mq="md+">
    <wrapper>
      <b-row>
        <b-col cols="9">
          <profile></profile>
        </b-col>
        <b-col>
          <QRCode></QRCode>
        </b-col>
      </b-row>
      <div class="my-5">
        <b-row>
          <b-col>
            <b-form @submit="onSubmitProfile">
              <full-name-input v-model="form.fullName"></full-name-input>
              <phone-input v-model="form.phone"></phone-input>
              <bank-select-input v-model="form.bank"></bank-select-input>
              <bank-number-input v-model="form.bankNumber"></bank-number-input>
              <div class="text-center mt-4">
                <default-button title="แก้ไขข้อมูล"></default-button>
              </div>
            </b-form>
          </b-col>
          <b-col>
            <b-form @submit="onSubmitPassword">
              <password-input v-model="form.password"></password-input>
              <password-input v-model="form.password"></password-input>
              <confirm-password-input
                v-model="form.confirmPassword"
              ></confirm-password-input>
              <div class="text-center mt-4">
                <default-button title="แก้ไขข้อมูล"></default-button>
              </div>
            </b-form>
          </b-col>
        </b-row>
      </div>
    </wrapper>
  </mq-layout>
</template>

<script>
import Wrapper from '@/components/Wrapper'
import Profile from '@/components/Profile'
import QRCode from '@/components/QRCode'
import FullNameInput from '@/components/forms/v2/FullNameInput'
import DefaultButton from '@/components/buttons/DefaultButton'
import PhoneInput from '@/components/forms/v2/PhoneInput'
import PasswordInput from '@/components/forms/v2/PasswordInput'
import ConfirmPasswordInput from '@/components/forms/v2/ConfirmPasswordInput'
import BankSelectInput from '@/components/forms/v2/BankSelectInput'
import BankNumberInput from '@/components/forms/v2/BankNumberInput'

export default {
  components: {
    BankNumberInput,
    BankSelectInput,
    ConfirmPasswordInput,
    PasswordInput,
    PhoneInput,
    FullNameInput,
    Wrapper,
    Profile,
    QRCode,
    DefaultButton,
  },
  data() {
    return {
      form: {
        fullName: null,
        phone: null,
      },
    }
  },
  methods: {
    onSubmitProfile(e) {
      // CODE HERE
    },
    onSubmitPassword(e) {
      // CODE HERE
    },
  },
}
</script>

<style scoped></style>
