<template>
  <main class="games__content">
    <h2 class="games__title">
      {{ title }}
    </h2>
    <div class="games__items">
      <slot></slot>
    </div>
  </main>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      required: true,
    },
  },
}
</script>

<style scoped>
.games__content {
  padding: 20px 0;
}

.games__title {
  padding: 20px 0;
  color: white;
  font-size: 30px;
  font-weight: 500;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.games__items {
  padding: 20px 0;
}

@media screen and (max-width: 767px) {
  .games__content {
    padding: 0;
  }
}
</style>
