<template>
  <div class="game mb-4" @click="onClick">
    <div class="game__title">{{ title }}</div>
    <div class="game__hover__title">{{ title }}</div>
  </div>
</template>

<script>
export default {
  props: {
    to: {
      type: String,
      required: false,
      default: '#',
    },
    title: {
      type: String,
      required: false,
      default: 'GAMING',
    },
  },
  methods: {
    onClick() {
      this.$router.push(this.to)
    },
  },
}
</script>

<style scoped>
.game {
  width: 100%;
  height: auto;
  min-height: 120px;
  background-color: var(--quaternary-color);
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.game:hover {
  filter: grayscale(100%);
}

.game__title {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  text-align: center;
  color: #ffffff;
  font-weight: 500;
  padding: 5px 0;
}

.game:hover .game__title {
  display: none;
}

.game__hover__title {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  color: #ffffff;
}

.game:hover .game__hover__title {
  top: 0;
}
</style>
