<template>
  <div class="game mb-5">
    <div class="game__image mb-4">
      <img src="https://dummyimage.com/650x450/000/fff" alt="game" />
    </div>
    <div class="text-center">
      <default-link-button title="เล่นทันที" to="#"></default-link-button>
    </div>
  </div>
</template>

<script>
import DefaultLinkButton from '@/components/buttons/DefaultLinkButton'

export default {
  components: { DefaultLinkButton },
  props: {
    to: {
      type: String,
      required: false,
      default: '#',
    },
  },
}
</script>

<style scoped>
.game__image img {
  width: 100%;
  border-radius: 10px;
}
</style>
