<template>
  <aside>
    <ul class="games__sidebar">
      <li
        v-for="item in menuItems"
        :key="item.name"
        :class="['games__sidebar__item', { active: isMenuActive(item.path) }]"
      >
        <nuxt-link :to="item.path">
          <img :src="item.icon" class="games__sidebar__icon" :alt="item.name" />
          {{ item.name }}
        </nuxt-link>
      </li>
    </ul>
  </aside>
</template>

<script>
export default {
  data() {
    return {
      menuItems: [
        {
          path: '/games',
          name: 'คาสิโน',
          icon: '/images/casino_game_icon.png',
        },
        {
          path: '/games/slot',
          name: 'สล๊อตเกมส์',
          icon: '/images/slot_game_icon.png',
        },
        {
          path: '/games/shooting',
          name: 'เกมส์ยิงปลา',
          icon: '/images/fish_game_icon.png',
        },
        {
          path: '/games/sport',
          name: 'เกมส์กีฬา',
          icon: '/images/sport_game_icon.png',
        },
      ],
    }
  },
  methods: {
    isMenuActive(path) {
      return this.$route.path === path
    },
  },
}
</script>

<style scoped>
.games__sidebar {
  padding: 40px 0;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.games__sidebar__item {
  padding: 5px 0;
  margin: 20px 0;
  border-left: 5px solid transparent;
}

.games__sidebar__item.active {
  border-color: var(--primary-color);
}

.games__sidebar__item a {
  color: white;
  padding-left: 20px;
}

.games__sidebar__icon {
  margin-right: 5px;
  width: 30px;
}

@media screen and (max-width: 767px) {
  .games__sidebar {
    display: flex;
    overflow-y: scroll;
    padding: 10px 0 0;
    border-right: 0;
  }

  .games__sidebar::-webkit-scrollbar {
    display: none;
  }

  .games__sidebar__item {
    border-left: 0;
    border-bottom: 3px solid transparent;
    flex: 0 0 auto;
    padding-bottom: 15px;
  }

  .games__sidebar__item.active {
    border-color: white;
  }

  .games__sidebar__item a {
    padding-left: 10px;
    padding-right: 10px;
  }
}
</style>
