<template>
  <div class="history">
    <b-table striped hover :items="items" :fields="fields"></b-table>
  </div>
</template>

<script>
export default {
  data() {
    return {
      fields: [
        { key: 'created_at', label: 'วันที่' },
        { key: 'amount', label: 'จำนวนที่ฝาก' },
      ],
      items: [
        {
          created_at: '10/10/2020',
          amount: '200 บาท',
        },
        {
          created_at: '10/10/2020',
          amount: '200 บาท',
        },
        {
          created_at: '10/10/2020',
          amount: '200 บาท',
        },
      ],
    }
  },
}
</script>

<style scoped>
.history {
  background-color: white;
}
</style>
