<template>
  <mq-layout mq="md+">
    <wrapper>
      <div class="container">
        <b-row>
          <b-col cols="9">
            <profile></profile>
          </b-col>
          <b-col>
            <QRCode></QRCode>
          </b-col>
        </b-row>
      </div>
      <b-row class="content my-5">
        <b-col class="history__deposit" md="12" lg="6">
          <deposit-history></deposit-history>
        </b-col>
        <b-col class="history__withdraw" md="12" lg="6">
          <withdraw-history></withdraw-history>
        </b-col>
      </b-row>
    </wrapper>
  </mq-layout>
</template>

<script>
import Wrapper from '@/components/Wrapper'
import Profile from '@/components/Profile'
import QRCode from '@/components/QRCode'
import DepositHistory from '@/components/pages/history/desktop/DepositHistory'
import WithdrawHistory from '@/components/pages/history/desktop/WithdrawHistory'

export default {
  components: { DepositHistory, WithdrawHistory, Wrapper, Profile, QRCode },
}
</script>

<style scoped>
.container {
  max-width: 700px;
  margin: 0 auto;
}

.content {
  border-radius: 20px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
  height: 100%;
  overflow: hidden;
}

.history__deposit {
  padding: 20px;
}

.history__withdraw {
  padding: 20px;
  background-color: var(--primary-color);
}
</style>
