<template>
  <mq-layout mq="sm">
    <div class="pt-5 mt-5" style="background-color: white; color: black">
      <div class="container">
        <profile class="home__profile"></profile>
        <b-row class="home__menu mt-4">
          <b-col
            v-for="item in menuItems"
            :key="item.name"
            cols="3"
            class="home__menu__item mb-4"
          >
            <nuxt-link :to="item.path">
              <img :src="item.icon" alt="user_menu" />
              <span>{{ item.name }}</span>
            </nuxt-link>
          </b-col>
        </b-row>
      </div>
    </div>

    <div class="mt-3 mb-4">
      <PromotionsCarousel></PromotionsCarousel>
    </div>

    <div class="home__header">เกมส์สุดฮิต</div>

    <div class="container">
      <GamesCarousel></GamesCarousel>
    </div>
  </mq-layout>
</template>

<script>
import Profile from '@/components/mobile/Profile'
import PromotionsCarousel from '@/components/PromotionCarousel'
import GamesCarousel from '@/components/GamesCarousel'

export default {
  components: { GamesCarousel, PromotionsCarousel, Profile },
  data() {
    return {
      menuItems: [
        {
          path: '#',
          name: 'ระบบสมาชิก',
          icon: '/images/user_menu_icon_black.png',
        },
        {
          path: '/profile',
          name: 'ข้อมูลส่วนตัว',
          icon: '/images/profile_menu_icon_black.png',
        },
        {
          path: '/deposit',
          name: 'ฝากเงินออโต้',
          icon: '/images/deposit_menu_icon_black.png',
        },
        {
          path: '/withdraw',
          name: 'ถอนเงิน',
          icon: '/images/withdraw_menu_icon_black.png',
        },
        {
          path: '/history',
          name: 'ประวัติรายการ',
          icon: '/images/history_menu_icon_black.png',
        },
        {
          path: '/coupon',
          name: 'คูปอง',
          icon: '/images/coupon_menu_icon_black.png',
        },
        {
          path: '/promotion',
          name: 'โปรโมชัน',
          icon: '/images/promotion_menu_icon_black.png',
        },
        {
          path: '/contact',
          name: 'ติดต่อเรา',
          icon: '/images/line_menu_icon_black.png',
        },
      ],
    }
  },
  methods: {
    onCreditRefresh() {
      // CODE HERE
    },
  },
}
</script>

<style scoped>
.container {
  padding: 20px;
}

.home__menu__item {
  text-align: center;
  padding: 0;
}

.home__menu__item img {
  display: block;
  width: 50px;
  margin: 0 auto 10px;
}

.home__menu__item a {
  color: black;
}

.home__menu__item span {
  font-size: 14px;
}

.home__banner img {
  width: 100vw;
}

.home__profile {
  margin-top: -110px;
}

.home__header {
  position: relative;
  width: 140px;
  font-size: 16px;
  padding: 10px 20px 10px 10px;
  background: black;
  color: white;
}

.home__header:after {
  content: ' ';
  position: absolute;
  display: block;
  width: 160px;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background: black;
  border-right: 5px solid #9c231b;
  transform: skew(-30deg, 0deg);
}
</style>
